/*
    Toast messages
*/

#toast-container {
    max-width: 100%;
    position: relative;
    right: 0;
    left: 0;
}

.toast {
    background-color: transparent;
    padding: 0;
}

.toast .card {
    margin: 0;
    width: 100%;
}

/*
    Modals
*/

.modal .modal-content {
    padding: 0;
}

.modal .modal-content .card {
    margin: 0;
}

/*
    Row dentro de um botão
*/

.btn .row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
}

/*
    Reduzindo o padding dentro das cards
*/

.card .card-content {
    padding: 12px;
}

/*
    Fazendo aparecer scroll nas coleções
*/

.collection {
    overflow-y: auto;
}

.collection .collection-item {
    white-space: nowrap;
    padding: 10px;
}

/*
    Mudando a cor das tabs
*/

.tabs {
    background-color: #263238;
}

.tabs .tab a {
    color: #607d8b;
}

.tabs .tab a:hover {
    color: #ffffff;
}

.tabs .tab a.active,
.tabs .tab a:focus.active {
    color: #ffffff;
    background-color: #00838f;
}

.tabs .indicator {
    background-color: #ffffff;
}

/*
    Classberry title
*/

#classberry_title {
    margin-bottom: 0;
}
