@import url("common.css");

.card {
    margin: 0;
}

.row {
    margin-bottom: 0;
}

.btn {
    height: 100%;
    width: 100%;
    line-height: 1;
}

.btn i {
    font-size: 48px;
    line-height: 1;
}
