@import url("common.css");

.card {
    margin: 0;
}

/*
    O auto sizing de alguns collections via flexboxes depende de body e html com tamanho explicitamente configurado
*/

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-flow: column;
}

#main_card {
    display: flex;
    flex-flow: column;
    min-height: 0%;
    max-height: 100%;
}

#main_card .card-content {
    display: flex;
    flex-flow: column;
    min-height: 0%;
    max-height: 100%;
}

/*
    Adicionando scroll nas tabelas e garantindo que o nome das colunas não saia do lugar ao fazer esse scroll
*/

table {
    display: flex;
    flex-flow: column;
}

th {
    display: flex;
    flex-flow: row;
    flex: 1;
    justify-content: center;
}

tr {
    display: flex;
    flex-flow: row;
    flex: 1;
}

td {
    display: flex;
    flex-flow: row;
    flex: 1;
    padding: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
}

tbody {
    overflow: auto;
}
